.btn {
  padding: $space-16 $space-48;
  border: none;
  border-radius: $border-radius-5;
  background-color: initial;
  cursor: pointer;

  &--primary {
    color: $color-light;
    background-color: $color-primary;
    font-weight: $font-weight-700;
  }

  &--sign-up {
    padding: $space-8 $space-16;
    color: $color-light;
    background-color: $color-primary;
  }

  &--buy {
    margin: $space-16;
  }

  &--cta {
    display: inline-block;
    margin-top: $space-48;
  }

  &:active {
    transform: scale(0.9);
  }
}

.round-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &:hover {
    background-color: $color-silver-dark;
  }

  &--right {
    margin-left: $space-24;
  }

  &--edge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-silver-light;
    transform: translate(50%, -50%);
  }

  &--to-top {
    position: absolute;
    top: 0;
    right: $space-24;
    transform: translateY(-50%);
    display: flex;
    background-color: rgb(233, 233, 237);
  }
}
