.footer {
  position: relative;
  margin-top: $space-64;
  background-color: $color-silver-light;

  &__list {
    padding: $space-48 0;
    text-align: center;
  }

  &__item {
    margin-right: $space-16;
    margin-top: $space-16;
  }

  &__item--last {
    margin-right: 0;
    margin-left: auto;
  }
}

@include media-sm {
  .footer {
    &__list {
      display: flex;
    }

    &__item--last {
      text-align: right;
    }
  }
}