.hero-section {
  padding: 0;
}

.hero {
  padding: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 $space-16;
    margin-top: 2.3rem; // 6.6rem(header-height) / 2 - 1rem(nav-links-padding-bottom) = 2.3rem 
    min-height: 100vh;
  }

  &__content,
  &__img-wrapper {
    min-width: 50%;
  }

  &__content {
    margin: $space-80 0;
    text-align: center;
  }

  &__img {
    width: 100%;
  }
}

// responsive

@include media-md {
  .hero {
    &__container {
      flex-direction: row;
      align-items: center;
    }

    /**
     * Note:
     * we used padding-right instead of margin-right because we applied min-width: 50%; to flex-items
     * min-width is a requirement because image will shrink if we set width: 50%; or flex: 1 1 0;
     */
    &__content {
      padding-right: $space-80;
      margin: 0;
      text-align: left;
    }
  }
}
