.usage-info {
  padding: $space-32 $space-16;
  border-radius: $border-radius-5;
  box-shadow: $box-shadow-md;
  background-color: $color-light;
  cursor: pointer;
  @include transition(transform);

  &:hover {
    color: $color-light;
    background-color: $color-primary;
    transform: scale(1.1);
  }

  &:hover &__icon-path {
    stroke: $color-light;
  }

  // for the house icon we need to change only fill not stroke
  &:hover &__icon-path--fill {
    stroke: initial;
    fill: $color-light;
  }

  &__title {
    margin: $space-24 0 $space-8;
  }
}
