html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: $color-silver-light;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding: $space-64 0;
}

h1 {
  margin: $space-24 auto;
  font-size: $font-size-40;
}

h2 {
  margin: $space-24 auto;
  font-size: $font-size-32;
  text-align: center;
}
